* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  text-decoration: none;
}

:root {
  position: relative;
  min-height: 100%;
}

body {
  min-width: 320px;
  line-height: 1.5;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  padding-bottom: 50px;
}

p>span{
  color: gray;
}
ul {
  list-style: none;
}

#app-description {
  padding-bottom: 1rem;
  text-align: justify;
}

.error {
  color: red;
  font-size: 1.5rem;
  display: block;
  text-align: justify;
}

.hidden {
  display: none;
}

.logo {
  color: white;
  font-size: 1.2em;
  background: url(assets/logo.png) no-repeat right;
  background-size: 40px 40px
}

.logo img {
  width: 40px;
  padding-top: 5px;
}

h1 {
  font-size: 1.5em;
  margin: 0;
}

h3 {
  margin-bottom: 1rem;
}

#app-description h1 {
  margin-bottom: 16px;
}

header {
  background-color: #239d60;
  padding: 10px;
}

form input,
form button,
#parks-list button {
  width: 100%;
  display: block;
  font-size: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 2rem;
  margin: 1rem 0;
}

form button {
  background-color: rgba(19, 125, 182, 0.9);
  color: white;
}

form input::placeholder {
  color: gray;
}

form input[type="text"] {
  padding: 0 10px;
}

form label {
  padding-top: 1rem;
}

fieldset {
  padding: 0;
  border: none;
}

#carousel {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 50vw;
  max-height: 50vh;
  position: relative;
}

#carousel img {
  min-width: 110%;
  max-width: 115%;
}

#carousel button {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 100;
  width: 5%;
  min-height: 100%;
  border: none;
  outline: none;
}

#carousel button:focus {
  border: none;
}

#next:hover, 
#prev:hover {
  background: none;
  color: rgba(255, 255, 255, 1);
}

#next {
  right: 0;
}

.disabled {
  position: fixed;
  right: -20%;
  z-index: -1;
  visibility: hidden;
}

.indicators {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  text-align: center;
  user-select: none;
  display: block;
  position: absolute;
  z-index: 100;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
}

.indicators li {
  display: inline-block;
  font-size: 3em;
  opacity: 0.9;
}

.enabled-dot {
  color: white;
}

#quick-links button:hover, 
#results button:hover {
  transition: 0.3s ease;
  transform: scale(1.1,1.1)
}

#quick-links button, 
#results button {
  transition: 0.3s ease;
  border: none;
}

#parks-list img {
  width: 100%;
}

#map {
  height: 400px;
}

.collapse {
  height: 50px;
  overflow: hidden;
  padding: 0;
}

.section-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  height: 50px;
  background-color: #007cb9;
}

footer {
  background-color: #212125;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

table td {
  border: 1px solid #ddd;
  padding: 5px 10px;
}

thead td {
  background-color: rgba(43, 156, 98, 0.2);
  font-weight: 600;
}

tbody tr:nth-child(1n) {
  background-color: rgba(19, 125, 182, 0.04)
}

tbody tr:nth-child(2n) {
  background-color: rgba(19, 125, 182, 0.08)
}

td:nth-child(3) {
  text-align: right;
}

#weather-section img {
  display: block;
  margin: 16px auto 20px;
  width: 150px;
}

input[type=checkbox] {
  position: absolute;
  width: 60px;
  height: 30px;
  -webkit-appearance: none;
}

input[type="checkbox"]:checked+label:after {
  right: calc(100% - 45px);
  transform: translateX(-100%);
}

.switch label {
  cursor: pointer;
  width: 60px;
  height: 30px;
  background: rgba(245, 245, 245, 0.2);
  display: block;
  border-radius: 100px;
  position: relative;
}

.switch label:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked+label {
  transition: 0.3s;
}

input:checked+label:after {
  background: rgba(255, 255, 255, 0.6);
}

input+label {
  transition: 0.3s;
}

label:active {
  outline: none;
}

#results .img-container {
  display: block;
  width: 100%;
  height: 30%;
  max-height: 200px;
  background: url(assets/loading.gif) no-repeat center;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.section-body,
header,
#parks-list {
  text-align: justify;
}

header, 
#quick-search, 
form, 
#app-description, 
#results .section-body,
.section-head,
#park-info,
#map~p,
#fees-section .section-body,
#weather-section .section-body,
.error {
  padding-left: 10%;
  padding-right: 10%;
}

.section-body>* {
  margin-bottom: 1rem;
}

#results .section-body {
  margin-top: 1rem;
}

#parks-list {
  margin-block-end: 0;
}

#parks-list button {
  border: none;
  background-color: #007cb9;
  color: white;
}

#parks-list {
  display: flex;
  flex-direction: column;
}

#slideshow {
  width: 100%;
  height: 50vw;
  position: relative;
  overflow: hidden;
  margin-top: 1em;
  cursor: pointer;
}


#slideshow img {
  position: absolute;
  height: auto;
  width: 110%;
}

#app-description > label {
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  height: 2em;
  padding: 4px;
  border: none;
  background-color: rgba(43, 156, 98, 0.2)
}

@media (min-width: 500px) {
  #results .img-container {
    max-height: 300px;
  }
}

@media (min-width: 760px) {
  :root {
    font-size: 1.1em;
  }
  header, 
  #quick-search, 
  form, 
  #app-description, 
  #results .section-body,
  .section-head,
  #park-info,
  #map~p,
  #fees-section .section-body,
  #weather-section .section-body,
  .error {
    padding-left: 18%;
    padding-right: 18%;
  }
  .section-body>* {
    margin-bottom: 2rem;
  }
  table {
    margin-top: 2rem;
  }
  #results .section-body {
    margin-top: 2rem;
  }
  #slideshow {
    height: 40vw;
  }
}

@media (min-width: 960px) {
  :root {
    font-size: 1.2em;
  }
  header, 
  #quick-search, 
  form, 
  #app-description, 
  #results .section-body,
  .section-head,
  #park-info,
  #map~p,
  #fees-section .section-body,
  #weather-section .section-body,
  .error {
    padding-left: 20%;
    padding-right: 20%;
  }
  .section-body>* {
    margin-bottom: 2rem;
  }
  table {
    margin-top: 2rem;
  }
  #results .section-body {
    margin-top: 2rem;
  }
  #parks-list button {
    margin: 2rem 0;
  }
  hr {
    margin-bottom: 2rem;
  }
  #parks-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }
  #parks-list li {
    display: flex;
    flex-direction: column;
    width: 48%;
  }
  #park-list li:nth-child(3) {
    order: 1;
  }
  #parks-list img {
    height: auto;
    max-width: 160%;
    min-width: 100%;
  }
  #parks-list h3 {
    align-self: flex-start;
  }
  #results .img-container {
    max-height: 200px;
  }
  fieldset>div {
    display: flex;
  }
  fieldset button {
    width: 20%;
  }
  #quick-search ul {
    display: flex;
    justify-content: space-between;
  }
  #quick-search button {
    height: 50px;
    font-size: 0.8em;
  }
  #quick-search li {
    width: 100%;
  }
  #quick-links>div {
    width: 45%
  }
  #slideshow {
    height: 35vw;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 1.3em;
  }
  #carousel {
    max-height: 60vh;
  }
  header, 
  #quick-search, 
  form, 
  #app-description, 
  #results .section-body,
  .section-head,
  #park-info,
  #map~p,
  #fees-section .section-body,
  #weather-section .section-body,
  .error {
    padding-left: 25%;
    padding-right: 25%;
  }
  #slideshow {
    height: 25vw;
  }
}

@media (min-width: 1600px) {
  :root {
    font-size: 1.4em;
  }
  #results .img-container {
    max-height: 300px;
  }
}

